@()

@import helpers._
@import helpers.AlarmHelper._
@import helpers.LayoutHelper._
@import views.html.share._
@import views.html.alarm_rule._
@import views.html.layouts

@main("添加规则", "alarm") {
    @FormHelper.setup[AlarmRule] { form =>
        @form.map(routes.AlarmRuleController.create.url, cls="form-compact"){
            @widget("添加规则", "cus-bell") {
                @wrap("container-fluid") {
                    @wrap("row-fluid"){
                        @wrap("span4") {
                            @block("对象类型") {
                                @biz.mo_tree()
                            }
                        }
                        @wrap("span8") {
                            @wrap("row wrap-bottom-space") {
                                @block("告警对象") {
                                    @biz.mo_select()
                                }
                            }
                            @wrap("row wrap-bottom-space") {
                                @block("基本信息") {
                                    @wrap("row-fluid") {
                                        @wrap("span6") {
                                            @form.text_field('path -> "name", 'label -> "告警名称", 'cls -> "required")
                                            @form.select_field('path -> "level", 'label -> "告警级别", 'cls -> "required", 'source -> ruleLevel)
                                            @form.select_field('path -> "delay", 'label -> "延迟次数", 'cls -> "required",  'source -> ruleDelay)
                                            @form.area_field('path -> "memo", 'label -> "备注")
                                        }
                                        @wrap("span6") {
                                            @form.check_field('path -> "enabled", 'label -> "启用", 'value -> "checked")
                                            @form.select_field('path -> "interval", 'label -> "轮询间隔", 'cls -> "required", 'source -> pollInterval)
                                            @form.select_field('path -> "period", 'label -> "通知时段", 'cls -> "required", 'attributes -> "multiple='multiple'", 'value-> "1,2,3,4,5,6,7", 'source -> validPeriod)

                                        }
                                    }
                                }
                            }
                            @wrap("row wrap-bottom-space") {
                                @block("参数设置") {
                                    @biz.parameter_braowse()
                                }
                            }
                            @wrap("row wrap-bottom-space") {
                                @block("通知方式") {
                                    @notifications()
                                }
                            }
                            @wrap("row wrap-bottom-space") {
                                @block("告警联动") {
                                }
                            }
                        }
                    }
                }
            } {
                @b_btn("确定", "cus-accept", "btn-primary btn-large")
                @b_btn("取消", "cus-cancel", "btn-large")
            }
        }
    }
}