@()

<div>
    <ul class="notifications">
        <li>
            <i class="default"></i>
            <label class="checkbox">
                <input type="checkbox" id="default_notify" checked="checked" />
                屏幕
            </label>
        </li>
        <li>
            <i class="email"></i>
            <label class="checkbox">
                <input type="checkbox" id="email_notify"  />
                邮件
            </label>
        </li>
        <li>
            <i class="message"></i>
            <label class="checkbox">
                <input type="checkbox" id="message_notify"  />
               短信
            </label>
        </li>
    </ul>
</div>