@()

<table class="table table-bordered table-striped table-highlight">
<thead>
    <tr>
        <th> 设备名称 </th>
        <th> CPU负载(%) </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td> 设备## </td>
        <td> 100 </td>
    </tr>
    <tr>
        <td> 设备## </td>
        <td> 99 </td>
    </tr>
    <tr>
        <td> 设备## </td>
        <td> 98 </td>
    </tr>
    <tr>
        <td> 设备## </td>
        <td> 97 </td>
    </tr>
    <tr>
        <td> 设备## </td>
        <td> 96 </td>
    </tr>
</tbody>
</table>