@()

<table class="table table-bordered table-striped table-highlight">
<thead>
    <tr>
        <th> 线路名称 </th>
        <th> 带宽占用率(%) </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td> 线路## </td>
        <td> 100 </td>
    </tr>
    <tr>
        <td> 线路## </td>
        <td> 99 </td>
    </tr>
    <tr>
        <td> 线路## </td>
        <td> 98 </td>
    </tr>
    <tr>
        <td> 线路## </td>
        <td> 97 </td>
    </tr>
    <tr>
        <td> 线路## </td>
        <td> 96 </td>
    </tr>
</tbody>
</table>