@()


<div class="mo-select row-fluid">
    <div class="span6">
        <div>11.11.11.11[设备1]<i class="icon-plus"></i></div>
        <div>11.11.11.12[设备2]<i class="icon-plus"></i></div>
        <div>11.11.11.13<i class="icon-plus"></i></div>
        <div>11.11.11.14[设备4]<i class="icon-plus"></i></div>
        <div>11.11.11.15[设备5asdasd]<i class="icon-plus"></i></div>
        <div>11.11.11.16[设备6]<i class="icon-plus"></i></div>
    </div>
    <div class="span6">
        <div>21.11.11.16<i class="icon-minus"></i></div>
        <div>21.11.11.17<i class="icon-minus"></i></div>
        <div>21.11.11.18<i class="icon-minus"></i></div>
        <div>21.11.11.19<i class="icon-minus"></i></div>
        <div>21.11.11.20<i class="icon-minus"></i></div>
    </div>
</div>