@()

<ol class="tree" style="min-height:500px;">
    <li>
        <label><i class="cus-switch"></i>设备</label>
        <ol>
            <li>
                <a href="#">交换机</a>
            </li>
            <li>
                <a href="#">路由器</a>
            </li>
            <li>
                <a href="#">交换路由</a>
            </li>
        </ol>
    </li>
    <li>
        <label><i class="cus-television"></i>主机</label>
        <ol>
            <li>
                <a href="#">Windows</a>
            </li>
            <li>
                <a href="#">Aix</a>
            </li>
            <li>
                <a href="#">Solaris</a>
            </li>
        </ol>
    </li>
    <li>
        <label><i class="cus-database"></i>数据库</label>
    </li>
    <li>
        <label><i class="cus-application-view-tile"></i>中间件</label>
    </li>
    <li>
        <label><i class="cus-application-view-tile"></i>其他类型</label>
    </li>
</ol>