@()

@main("监控总览", "monitor") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/portlet.css")">
    <script src="@routes.Assets.at("javascripts/portlet.js")" type="text/javascript"></script>

    <div id="monitor">
        <div class="columns row-fluid">
            <div class="column span4">
                <div class="portlet">
                    <div class="portlet-header"> CPU负载TopN </div>
                    <div class="portlet-content">
                        @views.html.monitor_manage.widgets.device_cpu_topn()
                    </div>
                </div>

                <div class="portlet">
                    <div class="portlet-header"> 内存使用率TopN </div>
                    <div class="portlet-content">
                        @views.html.monitor_manage.widgets.device_mem_topn()
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-header"> 设备告警一览 </div>
                    <div class="portlet-content">  </div>
                </div>
            </div>

            <div class="column span4">
                <div class="portlet">
                    <div class="portlet-header"> 线路流量TopN </div>
                    <div class="portlet-content">
                        @views.html.monitor_manage.widgets.link_flux_topn()
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-header"> 线路带宽占用率TopN </div>
                    <div class="portlet-content">
                        @views.html.monitor_manage.widgets.link_percent_topn()
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-header"> 线路告警一览 </div>
                    <div class="portlet-content">  </div>
                </div>
            </div>

            <div class="column span4">
                <div class="portlet">
                    <div class="portlet-header"> 设备运行率统计 </div>
                    <div id="device_run_ratio" class="portlet-content" style="height: 300px;">
                        @views.html.monitor_manage.widgets.device_run_ratio("device_run_ratio")
                    </div>
                </div>
                <div class="portlet">
                    <div class="portlet-header"> 线路运行率统计 </div>
                    <div id="link_run_ratio" class="portlet-content" style="height: 300px;">
                        @views.html.monitor_manage.widgets.link_run_ratio("link_run_ratio")
                    </div>
                </div>
            </div>
        </div>
    </div>


}