@()(implicit flash: Flash)

@import helpers._
@import views.html.share._

@main("添加设备", "resource") {
    @FormHelper.setup[Device] { form =>
        @form.map(routes.DeviceController.create.url){
            @widget("添加设备", "cus-inbox") {
                @form.fields("基本属性") {
                    @form.text_field('path -> "ip", 'label -> "IP地址", 'cls -> "required");
                    @form.text_field('path -> "deviceName", 'label -> "设备名称", 'cls -> "required");
                }

                @form.fields("访问参数") {
                    @form.text_field('path -> "snmp.port", 'label -> "端口", 'cls -> "required");
                    @form.text_field('path -> "snmp.read", 'label -> "读共同体名", 'cls -> "required");
                }
            } {
                @b_btn("确定", "cus-accept")
                @b_btn("取消", "cus-cancel")
            }
        }
    }
}