@()

<div id="top-nav">
    <div class="row-fluid">
        <div class="span6">
            <ul class="alarm-bar">
                <li>
                    <a><i class="icon-bell icon-white"></i></a>
                    <span class="info-label tiny">5</span>
                </li>
                <li>
                    <a><i class="icon-bell icon-white"></i></a>
                    <span class="info-label info">3</span>
                </li>
                <li>
                    <a><i class="icon-bell icon-white"></i></a>
                    <span class="info-label warn">5</span>
                </li>
                <li>
                    <a><i class="icon-bell icon-white"></i></a>
                    <span class="info-label error">0</span>
                </li>
                <li>
                    <a><i class="icon-bell icon-white"></i></a>
                    <span class="info-label fatal">1</span>
                </li>
            </ul>
        </div>
        <div class="span6">
            <ul class="pull-right">
                <li> <a href="javascript:;"> <i class="icon-user icon-white"></i> <font> <font> 李四登录 </font> </font> </a> </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <font> <font>
                            设置
                    </font> </font>
                    </a>
                </li>
                <li> <a href="#"> <font> <font> 登出 </font> </font> </a> </li>
            </ul>
        </div>
    </div>
</div>


